    .about-me {
        background-color:$trquish;
            margin-bottom: 50px;
            height: calc(100vh);
                padding-top: 10%;
            margin: 0 auto;
        &__text {
            h3 {
                font-weight: lighter;
                font-size: 25px;
                color: #f8f8f8;
            }
            p {
                line-height: 1.8;
                font-size: 16px;
                color: #f8f8f8;
            }
        }
        &__img {
            img {
                height: 450px;
                width: 450px;
            }
        }
    }
