    .about-me {
        background-color:$trquish;
            margin-bottom: 50px;
            height: calc(100vh);
                padding-top: 4%;
            margin: 0 auto;
            &__width{
                    max-width: 65%;
            }
        &__text {
            h3 {
                font-weight: lighter;
                font-size: 25px;
                color: #f8f8f8;
                border-bottom: 4px solid #3C3A3A;
                display: inline-block;
                padding-bottom: 5px;
            }
            p {
                line-height: 1.8;
                font-size: 16px;
                color: #f8f8f8;
                margin-bottom: 10px;
            }

            ul.zeducation {                      
                color: rgba(0,0,0,0.77);
                margin: 0;
                li.row{
                    border-top: 1px solid #dedede;
                    padding-top: 10px;
                    margin-bottom: 10px;
                    list-style-type: none;
                    &:first-child {
                        border-top: none;
                    }
                }
                span{
                    color: #3C3A3A;
                }
            }        
        }
        &__img {
            
            img {
                margin-top: 10%;
            }
        }
}

.portfolio{
      height: calc(100vh);
      background-color:#f8f8f8;
}
