    .contact-me {
        background-color:#fff;
            margin-bottom: 50px;
            height: calc(100vh);
                padding-top: 4%;
            margin: 0 auto;
            &__width{
                    max-width: 65%;

            }
        &__text {
            h1{
                border-bottom:4px solid $dark-maroon;
                display: inline-block;
                margin-bottom: 50px;
            }
            h6{
                margin-bottom: 30px;
            }
            h3 {
                font-weight: lighter;
                font-size: 25px;
                color: #000;       
                margin-bottom: 30px;                                         
            }
            p {
                line-height: 1.8;
                font-size: 16px;
                color: #f8f8f8;
                margin-bottom: 10px;
            }   
        }
        &__address {            
                border-top: 1px solid #e3e3e3;
                padding-top: 10%;
            i{
                font-size: 35px;
                color: $dark-maroon;
            }
            &--text{
                strong{
                        color: #000;
                        display: block;
                        font-weight: 500;
                        text-transform: uppercase;
                }
                span{
                    font-size: 14px;
                }
            }
            &--icons{
                margin-bottom: 30px;
            }
            &--social{
                .the-title{
                    text-transform: uppercase;
                }
                i{
                    font-size:25px;
                    padding: 20px 20px 20px 0;
                }
            }

        }
}
