html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

body {
    background: #333332;
    color: #666;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    -ms-interpolation-mode: bicubic;
}

.body-container {
    background: url(../img/ac.png) no-repeat fixed 0 0 / cover rgba(0, 0, 0, 0);
    min-height: calc(100vh);
    background-size: cover;
    &__top-bar {
        padding-top: 40px;
        b {
            font-size: rem-calc(28px);
            color: #fff;
            .nick {
                color: $nav-green;
            }
        }
        nav {
            a {
                font-size: rem-calc(16px);
                color: #fff;
                margin-right: 50px;
                position: relative;
                &:last {
                    margin-right: 0;
                }
                &:hover:before,
                .navmenu &.active:before {
                    left: -10px;
                    right: -10px;
                    background-color: $nav-green;
                }
                &:before {
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: -15px;
                    height: 3px;
                    content: '';
                    background-color: transparent;
                    z-index: 1;
                    transition: all 300ms;
                    -webkit-transition: all 300ms;
                }
            }
        }
    }
            &__services {
                margin-bottom:80px; 
             &--list  {
                i{
                   text-align: center;
                 width: 100%;
                  color: #fff;
                   padding: 24px 0 10px 0;
                 &:before {
                     border: 1px solid #fefefe;
                     padding: 5px;
                     border-radius: 5px;
                     text-align: center;
                 }  
                }
                
                 h4{
                        margin: 10px 0;
                        color: #fff;
                        font-size: 16px;
                        margin-bottom: 70px;

                 }
                 &:hover {
                            background: none repeat scroll 0 0 #2dbf6b;
                            transition: .9s;
                        }
             }
         }

    &__bio {
        &--desig{
            height: calc(100vh - 338px);
        }
            height: calc(100vh - 338px);
            position: relative;
        p {
            font-size: rem-calc(40px);
            color: #fff;
            position:absolute;
            top:48%;
        }
        &--desig {
            font-size: rem-calc(24px);
        }
    }
    .about-me {
     background: #fff;
     padding-top: 70px;
    h3 {
        font-weight: lighter;
        font-size: 25px;
    }
}

}
.text-center {
    text-align: center;
}