html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

body {
    background: #333332;
    color: #666;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.profes{
    cursor:pointer;
}
.body-container {


    background: -webkit-linear-gradient(right, rgba(100,65,165,0.7), rgba(42, 8, 69, 0.7)), url('../img/cube-pattern.png');
    background: -o-linear-gradient(right, rgba(100,65,165,0.7), rgba(42, 8, 69, 0.7)), url('../img/cube-pattern.png');
    background: linear-gradient(to left, rgba(100,65,165,0.7), rgba(42, 8, 69, 0.7)), url('../img/cube-pattern.png');


    .fixed-top {
        .body-container__top-bar{
            .profes{    color: #000;transition:color 1s;}
                nav {
                    a {
                        color: #000;transition:color 1s;
                    }
                }
            }
        }
    &__top-bar {
        padding-top: 40px;
            max-width: 96%;
        b {
            font-size: rem-calc(28px);
            color: $light-grey;
        }


        nav {
            a {
                color: $light-grey;
                margin-right: 10px;
                position: relative;
                font-size: rem-calc(12px);
                height: 16px;
                letter-spacing: 2px;
                line-height: 16.8px;
                &:last {
                    margin-right: 0;
                }
                &:hover:before,
                .navmenu, &.active:before {
                    left: -10px;
                    right: -10px;
                    background-color: $purple;
                }

                    &:before {
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: -15px;
                    height: 3px;
                    content: '';
                    background-color: transparent;
                    z-index: 1;
                    transition: all 300ms;
                    -webkit-transition: all 300ms;
                }

            }
        }
    }
            &__services {
                // margin-bottom:80px;
                // background-color:rgb(251, 251, 251);
             &--list  {
                padding-top: 70px;
                i{
                   text-align: center;
                 width: 100%;
                  color: #3C3A3A;
                   padding: 24px 0 10px 0;
                 &:before {
                     padding: 5px;
                     border-radius: 5px;
                     text-align: center;
                 }
                 &:hover{
                    color: $purple;
                    transition: .9s;
                 }
                }

                 h4{
                        margin: 10px 0;
                        color: #3C3A3A;
                        font-size: 16px;
                        margin-bottom: 70px;

                 }
                 &:hover {
                            background: none repeat scroll 0 0 #e7e7e7;
                            transition: .9s;
                            &.body-container__services--list h4,&.body-container__services--list i{
                                color: $purple;
                                transition: .9s;
                            }
                        }
             }
         }

    &__bio {
        &--desig{
            height: calc(100vh - 82px);
            &--desc{
                position: absolute;
                top: 32%;
                text-align: center;
                display: block;
                width: 100%;
            }
        }

        h1 {
                 font-size: rem-calc(80px);
                color: #fff;
                font-family: 'Roboto Slab';
                text-transform: capitalize;
                letter-spacing: 6px;
        }
        span{
               font-size: 20px;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                color: #c8d5ff;
                line-height: 1.2;
        }
    }
}
.text-center {
    text-align: center;
}

header.fixed-top {
    position: fixed;
    padding-top: 0px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    transition: all .5s;
    box-shadow: 0px -7px 40px rgba(180,180,180,0.2);
    .body-container__top-bar {
        padding-top: 0;
        max-width: 96%;
        height: 60px;
        line-height: 60px;
    }
}