.skills {
    background-image: url(../img/skill-pattern.png);
    background-color: #242830;
    height: calc(100vh);
    padding-top: 4%;
    h1 {
        color: #00AEEF;
        font-size: rem-calc(24px);
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    ul {
        list-style-type: none;
        li {
            float: left;
            padding: 0;
            margin: 0px 0px 50px 0px;
            text-align: center;
            height: 150px;
            width: 250px;
            transition: all 300ms;
            -webkit-transition: all 300ms;
            img {
                width: 100px;
                height: 100px;
            }
            &:hover {
                .skills-lists {
                    display: block;
                }
            }
        }
    }
    .full-width {
        max-width: 84%;
    }
    .skills-lists {
        display: none;
            transition: .9s;
        -webkit-transition: .9s;
        text-align: center;
        margin: 10px auto;
        h4 {
            display: inline;
            color: #00AEEF;
            font-size: rem-calc(18px);
        }
        div {
            display: inline;
        }
        .rating > span {
            content: "\2605";
            color: gold;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.05;
        }
    }
}
